* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: lightblue;
  line-height: 1.5;
}

h1, h2, h3, h4, p {
  margin: 0;
}

/*Header*/
header {
color: orange;
background-color: black;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
display: flex;
}

header h1 {
  padding: 10px 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  line-height: 1.5;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: orange;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
  margin-right: 10px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}

header h1 {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}

header nav a {
  text-decoration: none;
  color: orange;
  padding: 5px 20px;
  margin: 0%;
}

nav a:hover {
  background-size: 100% 100%;
  color: orange;
}
/*Header End*/

/*Hero Start*/
.hero-banner {
  background-image: url(https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-deve-picture-id537331500?b=1&k=20&m=537331500&s=170667a&w=0&h=-OawbbTR9TwfewLYKlaU-_cn1m_dq1WLpBK1qubFhGI=);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  padding: 2% 6%;
  color: orange;
  display: flex;
  justify-content: center;
}

.hero-banner h2 {
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
  border-bottom: 4px solid white;
}
/*Hero End*/

  .page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: orange;
  }

.page-section>h2 {
flex: 0 0 20%;
text-align: right;
padding-right: 15px;
border-right: 10px solid white;
border-bottom: 10px solid white;
font-size: 5vw;
line-height: 1.3;
}

.page-section>div {
  flex: 0 0 80%;
}

 .page-section p {
flex: 0 0 75%;
margin-bottom: 20px;
 }

.page-section .flex-container {
flex: 0 0 75%;
display: flex;
flex-wrap: wrap;
 }

.picture {
  background-image: url("../images/Dean\ Pic.jpeg");
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
  margin: 40px;
  border: 10px solid white;
}

.flex-item {
  flex: 0 0 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 0 20px 0;
  align-items: flex-end;
  display: flex;
  border: 10px solid white;
  min-height: 150px;
  max-height: 150px;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

/* portfolio project images */
.run-buddy {
  flex: 0 0 100%;
  background-image: url("../images/hero-bg.jpeg");
  opacity: 80%;
}

.project1 {
  background-image: url("../images/computer2.jpeg");
  opacity: 80%;
}

.project2 {
  background-image: url("../images/computer\ 1.jpeg");
  opacity: 80%;
}

.project3 {
  background-image: url("../images/computer3.jpeg");
  opacity: 80%;
}

.project4 {
  background-image: url("../images/computer4.jpeg");
  opacity: 80%;
}
/* End portfolio project images */

span, a {
  color: orange;
}
/*Start of Contact Info*/
address {
flex: 0 0 80%;
display: flex;
justify-content: space-around;
text-decoration: none;
}

.contact h4 {
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: orange;
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: orange;
}

#contact {
  background-image: url(https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-deve-picture-id537331500?b=1&k=20&m=537331500&s=170667a&w=0&h=-OawbbTR9TwfewLYKlaU-_cn1m_dq1WLpBK1qubFhGI=);
  background-size: cover;
  color: orange;
}

/*Resize*/
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section>h2,
  .page-section>div {
    flex: 0 0 100%;
  }

  .page-section>h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {

  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }


  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}