* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

header {
color: white;
background-color: black;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
display: flex;
}

header h1 {
  padding: 10px 15px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  padding: 5px 10px;
}

header nav a {
  text-decoration: none;
  color: white;
}

.hero-banner {
  background-image: url(https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-deve-picture-id537331500?b=1&k=20&m=537331500&s=170667a&w=0&h=-OawbbTR9TwfewLYKlaU-_cn1m_dq1WLpBK1qubFhGI=);
  background-size: cover;
  padding: 2% 6%;
  color: white;
  display: flex;
  justify-content: center;
}

.about h2 {
  border-right: turquoise;
}

.page-section {
  margin: 0;
}